.search-bar {
    margin: 20px;
    text-align: center;
}

.video-item img{
    max-width: 64px;
}

.video-detail .details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.list-unstyled{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding:0;
}

.list-item {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.list-item:last-of-type{
    border-bottom: none;
}

.list-item:hover {
    background: #eee;
}

.list-item .media-heading{
    font-size: 12px;
}