.pageContainer {
  padding-top: 60px;
}

.login,
.register,
.profile {
  padding-top: 40px;

  h4 {
    text-align: center;
  }
}

.navbar {
  a {
    color: #fff;

    &:visited,
    &:hover,
    &:active {
      color: #fff;
      text-decoration: none;
    }
  }
}

.form-signin,
.form-register {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
  padding-top: 50px;
}

.form-register {
  padding-top: 0;
}

.form-group {
  margin-bottom: 0.3rem;

  &.buttons {
    margin-top: 10px;
  }
}

.custom-text-input {
  label {
    font-size: 12px;
    margin-bottom: 0.3rem;
  }

  small {
    margin-top: 0;
    height: 15px;
  }
}

.modal {
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
}

.avatar {
  position: relative;

  input[type="file"] {
    position: absolute;
    top: 10px;
    opacity: 0;
  }

  .close {
    width: 12px;
    position: absolute;
    left: 50%;
    bottom: 2px;
    margin-left: 53px;
  }
}

.register,
.profile {
  .avatar {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.card {
  margin-bottom: 15px;

  .map {
    height: 200px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.profile {
  h2,
  h6,
  p {
    text-align: center;
  }

  button {
    margin-top: 40px;
  }
}

.todos,
.posts,
.albums,
.employees {
  padding: 15px 0;
}

.list-group-item {
  p {
    margin-bottom: 0;
  }
}
